
# /
/*.edited
/*.gcda
/*.gcno
/*.patch
/*.tmp
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/atlocal
/autom4te.cache
/cob-config
/conf*.dir
/conf*.file
/confdefs.h
/config.h
/config.h.in
/config.log
/config.status
/configure
/conftest*
/defaults.h
/gnu-cobol-*
/libtool
/stamp-h1
/tarstamp.h

# /bin/
/bin/*.1
/bin/*.edited
/bin/*.exe
/bin/*.gcda
/bin/*.gcno
/bin/.deps
/bin/Makefile
/bin/atlocal
/bin/cob-config
/bin/cobcrun
/bin/Makefile.in

# /build_aux/

# /build_windows/
/build_windows/*.7z
/build_windows/*.bak
/build_windows/*.h
/build_windows/*.ncb
/build_windows/*.sdf
/build_windows/*.suo
/build_windows/*.user
/build_windows/Win32
/build_windows/dist
/build_windows/ia64
/build_windows/x64

# /build_windows/vs2005/
/build_windows/vs2005/*.bak
/build_windows/vs2005/*.ncb
/build_windows/vs2005/*.sdf
/build_windows/vs2005/*.suo
/build_windows/vs2005/*.user
/build_windows/vs2005/dist
/build_windows/vs2005/ia64
/build_windows/vs2005/Win32
/build_windows/vs2005/x64
/build_windows/vs2005/ipch

# /build_windows/vs2008/
/build_windows/vs2008/*.bak
/build_windows/vs2008/*.ncb
/build_windows/vs2008/*.sdf
/build_windows/vs2008/*.suo
/build_windows/vs2008/*.user
/build_windows/vs2008/dist
/build_windows/vs2008/ia64
/build_windows/vs2008/Win32
/build_windows/vs2008/x64

# /build_windows/vs2010/
/build_windows/vs2010/*.bak
/build_windows/vs2010/*.ncb
/build_windows/vs2010/*.opensdf
/build_windows/vs2010/*.sdf
/build_windows/vs2010/*.suo
/build_windows/vs2010/*.user
/build_windows/vs2010/Win32
/build_windows/vs2010/ia64
/build_windows/vs2010/ipch
/build_windows/vs2010/x64

# /build_windows/vs2012/
/build_windows/vs2012/*.bak
/build_windows/vs2012/*.ncb
/build_windows/vs2012/*.sdf
/build_windows/vs2012/*.suo
/build_windows/vs2012/*.user
/build_windows/vs2012/dist
/build_windows/vs2012/ia64
/build_windows/vs2012/Win32
/build_windows/vs2012/x64

# /build_windows/vs2013/
/build_windows/vs2013/*.bak
/build_windows/vs2013/*.ncb
/build_windows/vs2013/*.sdf
/build_windows/vs2013/*.suo
/build_windows/vs2013/*.user
/build_windows/vs2013/dist
/build_windows/vs2013/ia64
/build_windows/vs2013/Win32
/build_windows/vs2013/x64

# /build_windows/vs2015/
/build_windows/vs2015/*.bak
/build_windows/vs2015/*.ncb
/build_windows/vs2015/*.sdf
/build_windows/vs2015/*.suo
/build_windows/vs2015/*.user
/build_windows/vs2015/dist
/build_windows/vs2015/ia64
/build_windows/vs2015/Win32
/build_windows/vs2015/x64

# /build_windows/vs2017/
/build_windows/vs2017/*.bak
/build_windows/vs2017/*.ncb
/build_windows/vs2017/*.sdf
/build_windows/vs2017/*.suo
/build_windows/vs2017/*.user
/build_windows/vs2017/dist
/build_windows/vs2017/ia64
/build_windows/vs2017/Win32
/build_windows/vs2017/x64

# /cobc/
/cobc/*.1
/cobc/*.dot
/cobc/*.edited
/cobc/*.exe
/cobc/*.gcda
/cobc/*.gcno
/cobc/*.output
/cobc/*.vcg
/cobc/.deps
/cobc/Makefile
/cobc/atlocal
/cobc/cobc
/cobc/parser.c
/cobc/parser.h
/cobc/pplex.c
/cobc/ppparse.c
/cobc/ppparse.h
/cobc/scanner.c
/cobc/Makefile.in

# /config/
/config/.deps
/config/Makefile
/config/atlocal
/config/Makefile.in

# /copy/
/copy/.deps
/copy/Makefile
/copy/atlocal
/copy/Makefile.in

# /doc/
/doc/*.cps
/doc/*.tex
/doc/*.vrs
/doc/.deps
/doc/Makefile
/doc/atlocal
/doc/gnucobol.aux
/doc/gnucobol.cp
/doc/gnucobol.fn
/doc/gnucobol.info
/doc/gnucobol.ky
/doc/gnucobol.log
/doc/gnucobol.pdf
/doc/gnucobol.pg
/doc/gnucobol.t2p
/doc/gnucobol.toc
/doc/gnucobol.tp
/doc/gnucobol.vr
/doc/Makefile.in
/doc/stamp-vti
/doc/version.texi

# /extras/
/extras/*.dll
/extras/Makefile
/extras/Makefile.in

# /lib/
/lib/.deps
/lib/Makefile
/lib/atlocal
/lib/Makefile.in

# /libcob/
/libcob/*.3
/libcob/*.gcda
/libcob/*.gcno
/libcob/*.edited
/libcob/.deps
/libcob/Makefile
/libcob/atlocal
/libcob/Makefile.in

# /m4/
/m4/.deps
/m4/Makefile
/m4/atlocal

# /po/
/po/*.gmo
/po/*.po~
/po/.deps
/po/Makefile
/po/Makefile.in
/po/POTFILES
/po/atlocal
/po/en@boldquot.po
/po/en@quot.po
/po/remove-potcdate.sed

# /tests/
/tests/.deps
/tests/Makefile
/tests/atconfig
/tests/atlocal*
/tests/testsuite
/tests/testsuite.dir
/tests/testsuite.log
/tests/Makefile.in

# /tests/cobol85/
/tests/cobol85/.deps
/tests/cobol85/Makefile
/tests/cobol85/EXEC85
/tests/cobol85/NC
/tests/cobol85/SM
/tests/cobol85/IC
/tests/cobol85/SQ
/tests/cobol85/RL
/tests/cobol85/IX
/tests/cobol85/ST
/tests/cobol85/SG
/tests/cobol85/OB
/tests/cobol85/IF
/tests/cobol85/RW
/tests/cobol85/DB
/tests/cobol85/DBNOIX
/tests/cobol85/copy
/tests/cobol85/copyalt
/tests/cobol85/newcob.val*
/tests/cobol85/*.log
/tests/cobol85/*.cob
/tests/cobol85/Makefile.in

# /tests/testsuite.src/
/tests/testsuite.src/Makefile
/tests/testsuite.src/atlocal
