Source: open-cobol
Priority: optional
Maintainer: Keisuke Nishida <knishida@coboler.com>
Standards-Version: 3.0.1

Package: open-cobol
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, libgmp3-dev, libltdl0-dev, libncurses5-dev
Description: COBOL Compiler
 OpenCOBOL is an open-source COBOL compiler, which translates COBOL
 programs to C code and compiles it using GCC.
